<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.BoardMapper">
	<select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
	select * from tbl_board where bno > 0 order by bno desc
	]]>
	</select>
  
	<insert id="insert">
		insert into tbl_board (title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select max(bno)+1 from tbl_board			
		</selectKey>
		insert into tbl_board (title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>
	
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select bno, title, content, writer, regdate
		from tbl_board where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>
	
	<update id="update">
		update tbl_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = curdate()
		where bno = #{bno}
	</update>
	
	<sql id="criteria">
		<if test="type != null">
			<if test="type == 'T'.toString()">
				and title like CONCAT('%', #{keyword}, '%')			
			</if>
			<if test="type == 'C'.toString()">
				and content like CONCAT('%', #{keyword}, '%')			
			</if>
			<if test="type == 'W'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')			
			</if>
			<if test="type == 'TC'.toString()">
				and (title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))			
			</if>
		</if>
	</sql>

<!-- 
SELECT *
FROM (
SELECT @NO := @NO + 1 AS ROWNUM, A.*
FROM
  (
    SELECT *
    FROM MEMBER
  ) A,
  ( SELECT @NO := 0 ) B
) C
WHERE C.ROWNUM BETWEEN 11 AND 15;



select X.rnum, X.id, X.name, X.content, X.createdate
from ( 
    select rownum as rnum, A.id, A.name, A.content, A.createdate
    from (
        select id, name, content, createdate
        from board
        order by createdate) A
    where rownum <= 30) X
where X.rnum >= 21
 -->


	<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select 
			bno, title, content, writer, regdate, updatedate
			from (
				select 
				(@R:=@R+1) rn, bno, title, content, writer, regdate, updatedate 
				from tbl_board, (select @R:=0) s1
		      	where (@R) < #{pageNum} * #{amount}
				
		]]>

		<include refid="criteria"></include>

		<![CDATA[    
			order by bno desc
			) s2 
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>


	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where 
		
		bno > 0
		<include refid="criteria"></include> 
		
		
	</select>
	
	
	
	
	
	
	
	
</mapper>
